<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
    <label>Name: </label><input type="text" name="landmark[name]" id="landmark_name">
    <br><br>
    <label>Year Completed: </label><input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    <br><br>
        <br><br>
    <button type="submit" id="Create New Landmark">Create New Landmark</button>
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
